<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UPC.PiggySave.DA.Properties.Settings.dbPiggySaveConnectionString"
            connectionString="Data Source=rds-upcaad.cwytqgl1psxt.us-east-2.rds.amazonaws.com;Initial Catalog=dbPiggySave;Persist Security Info=True;User ID=admin;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>